<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="30;url=http://127.0.0.1:55000/">  <!-- Port matches Flask app -->
        <title>Meme Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body{ background-color: black;background-repeat: no-repeat;background-position: top left}
            h1{ text-align: center;font-family: Arial, Helvetica, sans-serif; color: #ffffff;background-color: #000000}
            p{text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;font-size: 48px;font-style: normal}
        </style>
    </head>
    <body>
        <h1> A website for yee who yearn for memes</h1>
        <p>Here is your meme this will refresh in 30 seconds</p>
        <p><img src = "{{meme_pic}}"></p>
        <p>current subreddit:{{subreddit}}</p>
        
        <script src="" async defer></script>
    </body>
</html>
